	<!-- START PRELOADER -->
	<div id="page-preloader">
		<div class="theme-loader">Bitufy</div>
	</div>
	<!-- END PRELOADER --> 


<!-- START HEADER SECTION -->
	<header class="main-header header-1">
		<!-- START TOP AREA -->
		<!-- <%   if(path !== "/signup"){   %> -->
			<div class="top-area">
				<div class="auto-container">
					<div class="row">
						<div class="col-lg-8 col-md-12 col-sm-12 col-12">
							<div class="info-menu">
								<ul>
									<li><div id="google_translate_element"></div></li>
								</ul>
							</div>
						</div>
						<!-- end col -->
						<div class="col-lg-4 col-md-12 col-sm-12 col-12">
							<div class="info-menu">
								<ul>
									<li><a href="/auth/login"><i class="icofont icofont-login"></i> Login </a></li>
									<li><a href="/auth/signup"><i class="icofont icofont-user-alt-5"></i> Register </a></li>
									<!-- <li><a href="#"><i class="icofont icofont-hand-drag2"></i> Help </a></li>
									<li><a href="#"><i class="icofont icofont-live-support"></i> Support </a></li> -->
								</ul>
							</div>
						</div> 
						<!-- end col -->
					</div>
				</div>
			</div>
		<!-- <%    }     %> -->
		<!-- END TOP AREA -->

		<!-- START LOGO AREA -->
		<div class="logo-area">
			<div class="auto-container">
				<div class="row">
					<div class="col-lg-5 col-md-3 col-sm-6 col-7 mx-auto pl-0 mb-lg-0 mb-5">
						<div class="logo">
							<a href="/">
							   <img class="img-fluid" src="/library/img/logo.jpeg" alt="">
							</a>
						</div>
					</div>
					<!-- end col -->
					<div class="col-lg-7 col-md-12 col-sm-12 col-12">
						<div class="header-info-box">
                            <div class="header-info-icon">
								<i class="fa fa-envelope-open"></i>
							</div>
							<p>Email Us</p>
                            <h6>Capitalearncryptoltd@gmail.com</h6>
                        </div>
						<div class="header-info-box">
                            <div class="header-info-icon">
								<i class="icofont icofont-phone"></i>
							</div>
							<p>Call Us</p>
                            <h6>123-456-0975</h6>
                        </div>
						<div class="header-info-box">
                            <a href="/auth/signup" class="quote-btn">Get Started <i class="icofont icofont-caret-right"></i></a>
                        </div>
					</div>
					<!-- end col -->
				</div>
			</div>
		</div>
		<!-- END LOGO AREA -->

		<!-- START NAVIGATION AREA -->
		<div class="sticky-menu">
			<div class="mainmenu-area">
				<div class="auto-container">
					<div class="row">
						<div class="col-lg-9 d-none d-lg-block d-md-none">
							<nav class="navbar navbar-expand-lg justify-content-left">
								<ul class="navbar-nav">
								   <li><a href="/" class="nav-link <%= path === '/' && 'active' %>">Home</a></li>
                                    <li><a href="/about" class="nav-link <%= path === '/about' && 'active' %>">About Us</a></li>
                                    <li><a href="/team" class="nav-link <%= path === '/team' && 'active' %>">Our Team</a></li>
                                    <!-- <li><a href="/single-team">Team Single</a></li> -->
                                    <!-- <li><a href="/gallery">Gallery</a></li> -->
                                    <li><a href="/pricing" class="nav-link <%= path === '/pricing' && 'active' %>">Our Pricing</a></li>
                                    <li><a href="/faq" class="nav-link <%= path === '/faq' && 'active' %>">FAQ</a></li>
                                    <!-- <li><a href="error.html">404</a></li> -->
						
									<!-- <li class="dropdown"><a href="buy.html" class="nav-link">Coin</a>
										<ul class="dropdown-menu">
											<li><a href="buy.html">Buy & Sell</a></li>
											<li><a href="data.html">Analyze</a></li>
											<li><a href="wallet.html">wallet</a></li>
											<li><a href="exchange.html">Exchange</a></li>
										</ul>
									</li> -->
									<li><a href="/contact" class="nav-link  <%= path === '/contact' && 'active' %>">Contact</a></li>
								</ul>
							</nav>
						</div>
						<div class="col-lg-3 d-none d-lg-block d-md-none text-right pr-0"  style="background-color: rgb(114, 20, 206)">
							<form class="navbar-form">
								<div class="form-group">
									<input class="form-control"  style="background-color: rgb(114, 20, 206)" name="search" placeholder="Search here..." type="text">
									<button type="submit" class="btn"><i class="fa fa-search-plus"></i></button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END NAVIGATION AREA -->	
	</header>
	<!-- END HEADER SECTION -->
	<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
	<script type="text/javascript">
		function googleTranslateElementInit() {
		  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
		}
	</script>